body,
html {
  margin: 0;
  font-family: sans-serif;
}
h2{
    text-align: center;
}
ul {
  padding: 50;
  width: 100%;
}

li {
  display: inline;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 19.5%;
  margin-top: 1%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: black;
  border-radius: 10px;
}

li:last-child a {
  margin-right: 0;
}

a:link,
a:visited,
a:focus {
  background: rgb(0, 47, 255);
}

a:hover {
  background: rgb(255, 81, 0);
}

a:active {
  background: red;
  color: white;
}